* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
}

.header__top {
  background-color: #000000;
  padding: 0.1rem 1.03rem 0.1rem 0.8rem;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0;
}
.header__contact {
  font-size: 1.14rem;
}
.header__address {
  font-size: 1.08rem;
  letter-spacing: 0.02rem;
}
.header__bottom {
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 2.4rem;
  letter-spacing: 0;
  text-align: center;
  padding: 0.6rem 0rem;
  text-transform: uppercase;
}

.slideshow {
  position: relative;
}
.slideshow__image img {
  width: 100%;
  height: auto;
}
.slideshow__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  gap: 1.2rem;
}
.slideshow__title {
  padding-top: 2rem;
  font-weight: 400;
  font-size: 5.8rem;
  letter-spacing: 0;
  text-transform: uppercase;
  text-align: center;
}
.slideshow__subtitle {
  font-weight: 400;
  font-size: 1.33rem;
  line-height: 3rem;
  letter-spacing: 0.05rem;
  text-align: center;
  padding: 0 0 0 1.8rem;
}
.slideshow__button button {
  padding: 0.2rem 0;
  text-transform: uppercase;
  background: none;
  color: #FFFFFF;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 2.4rem;
  letter-spacing: 0;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0 100%;
  background-size: 0% 0.2rem;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease;
}
.slideshow__button button:hover {
  cursor: pointer;
  background-size: 100% 0.2rem;
}

.product-section {
  padding: 5rem 0;
}
.product-section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4rem;
}
.product-section__title {
  font-weight: 400;
  line-height: 4.8rem;
  letter-spacing: 0.13rem;
  font-size: 2.6rem;
  vertical-align: middle;
}
.product-section__tabs {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
.product-section__tabs a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 2.4rem;
  letter-spacing: 0;
  vertical-align: middle;
  color: #000000;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0 100%;
  background-size: 0% 0.1rem;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease;
}
.product-section__tabs a:hover {
  color: blue;
  background-size: 100% 0.1rem;
}
.product-section__tab--click a {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0 100%;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  padding-bottom: 2px;
}
.product-section__content {
  display: flex;
  gap: 0.7rem;
  padding-bottom: 1.7rem;
}
.product-section__content--reverse {
  flex-direction: row-reverse;
}
.product-section__information {
  padding-top: 1.2rem;
}
.product-section__image {
  width: 100%;
  overflow: hidden;
}
.product-section__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  vertical-align: middle;
}
.product-section__image img:hover {
  cursor: pointer;
  transition: 0.4s;
  transform: scale(1.1);
}
.product-section__category {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 2.2rem;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}
.product-section__name {
  font-weight: 500;
  font-size: 1.27rem;
  line-height: 2.588rem;
  vertical-align: middle;
}
.product-section__price {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2.25rem;
  vertical-align: middle;
}
.product-section__price--color {
  color: #D63A2F;
}
.product-section__price--color::after {
  content: "$999.00";
  color: #666666;
  text-decoration: line-through;
}
.product-section__small {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.product-section__sale {
  font-weight: 700;
  font-size: 1.15rem;
  line-height: 1.8rem;
  vertical-align: middle;
  color: #FFFFFF;
  background-color: #000000;
  padding: 0.1rem 0.7rem;
}
.product-section__sale--discount {
  background-color: #A42003;
  padding: 0.7rem 0.7rem;
  font-size: 1rem;
}
.product-section__new {
  width: 50%;
  font-weight: 700;
  font-size: 1.15rem;
  line-height: 1.8rem;
  vertical-align: middle;
  color: #ffffff;
  background-color: #054E4A;
  padding: 0.1rem 0.7rem;
}
.product-section__left {
  position: relative;
}
.product-section__item {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1.2rem;
  left: 0.8rem;
}
.product-section__item--red {
  top: 1.2rem;
  left: 1.28rem;
}
.product-section__title--unique {
  text-align: center;
  padding-bottom: 3.2rem;
}

.scrolling {
  height: 10rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.scrolling__content {
  gap: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: scrollUp 20s linear infinite;
  will-change: transform;
}
.scrolling h2 {
  font-weight: 400;
  font-size: 5.7rem;
  line-height: 9rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: gray;
}
.scrolling img {
  width: 2.6rem;
  height: 2.6rem;
  filter: grayscale(1);
  opacity: 0.5;
}
.scrolling:before::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2rem;
  z-index: 2;
}

.banner {
  padding: 2rem 0 10rem 0;
  display: flex;
  gap: 6rem;
}
.banner__item {
  width: 100%;
  color: #FFFFFF;
}
.banner__item--color {
  background-color: #6E331A;
  position: relative;
}
.banner__collection {
  padding-top: 2.5rem;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2.4rem;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}
.banner__content {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner__title {
  text-align: center;
  font-weight: 400;
  font-size: 4.6rem;
  line-height: 6.3rem;
  vertical-align: middle;
  text-transform: uppercase;
  padding-bottom: 0.9rem;
}
.banner__suptitle {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 2rem;
  text-align: center;
  vertical-align: middle;
}

.block {
  padding-bottom: 10rem;
}
.block__title {
  text-align: center;
  padding-bottom: 5rem;
  line-height: 4rem;
}
.block__content {
  display: flex;
  align-items: center;
  gap: 6.3rem;
}
.block__item {
  width: 100%;
}
.block__name {
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 3.8rem;
  vertical-align: middle;
  padding-top: 0.9rem;
}
.block__subtitle {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2rem;
  vertical-align: middle;
}

.banner-v2 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 27.9rem;
}
.banner-v2__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./img/parallax.png");
  background-attachment: fixed;
  z-index: 1;
}
.banner-v2__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
}
.banner-v2__title {
  font-weight: 400;
  font-size: 4.7rem;
  line-height: 9.5rem;
  vertical-align: middle;
}
.banner-v2__subtitle {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2.4rem;
  vertical-align: middle;
}

.highlights {
  padding: 8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}
.highlights__img {
  width: 6rem;
  height: 6rem;
}
.highlights__img img {
  width: 100%;
  height: 100%;
}
.highlights__title {
  padding: 1.5rem 0 0.3rem 0;
  padding-top: 1.5rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
  vertical-align: middle;
}
.highlights__subtitle {
  font-weight: 400;
  font-size: 1.27rem;
  line-height: 2rem;
  vertical-align: middle;
}

.banner-v3 {
  background-color: #F6F2EE;
  padding: 10rem 0;
  height: 60.2rem;
  position: relative;
}
.banner-v3__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 2rem;
}
.banner-v3__subtitle {
  width: 25%;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}
.banner-v3__title {
  width: 60%;
  font-weight: 400;
  font-size: 2.58rem;
  line-height: 4.2rem;
  text-align: center;
  vertical-align: middle;
}
.banner-v3__button {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 3rem;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}
.banner-v3__button button {
  background: none;
  padding: 0.9rem 3rem;
  border: 0.1rem solid rgb(190, 190, 190);
  transition: 0.3s;
}
.banner-v3__button button:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: #ffd3a6;
}
.banner-v3__img {
  position: absolute;
}
.banner-v3__img--1 {
  top: 4.2rem;
  left: 22rem;
}
.banner-v3__img--1 img {
  width: 25rem;
  height: 25rem;
}
.banner-v3__img--2 {
  left: 16.8rem;
  top: 23.9rem;
}
.banner-v3__img--2 img {
  width: 14.2rem;
  height: 14.2rem;
}
.banner-v3__img--3 {
  bottom: 5.6rem;
  left: 33.4rem;
}
.banner-v3__img--3 img {
  width: 17.7rem;
  height: 17.7rem;
}
.banner-v3__img--4 {
  top: 6rem;
  right: 17rem;
}
.banner-v3__img--4 img {
  width: 26.5rem;
  height: 26.3rem;
}
.banner-v3__img--5 {
  top: 32.8rem;
  right: 31.3rem;
}
.banner-v3__img--5 img {
  width: 20rem;
  height: 20rem;
}

@keyframes scrollUp {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*# sourceMappingURL=styles.css.map */
