.banner-v3 {
    background-color: var(--color-banner-v3-bg);
    padding: 10rem 0;
    height: 60.2rem;
    position: relative;

    &__content {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        gap: 2.4rem;
    }

    &__subtitle {
        width: 25%;
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 2rem;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
    }

    &__title {
        width: 60%;
        font-weight: 400;
        font-size: 2.58rem;
        line-height: 4.2rem;
        text-align: center;
        vertical-align: middle;
    }

    &__button {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 3rem;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;

        button {
            background: none;
            padding: 0.9rem 3rem;
            border: 0.1rem solid var(--color-banner-v3-btn-border);
            transition: 0.3s;

            &:hover {
                cursor: pointer;
                transition: 0.3s;
                background-color: var(--color-banner-v3-btn-hover);
            }
        }
    }

    &__img {
        position: absolute;
        overflow: hidden;

        img {
            object-fit: cover;
            transition: 0.5s;
            vertical-align: middle;

            &:hover {
                cursor: pointer;
                transition: 0.4s;
                transform: scale(1.1);
            }
        }
    }

    &__img--1 {
        top: 4rem;
        left: 21.5rem;

        img {
            width: 25rem;
            height: 25rem;
        }
    }

    &__img--2 {
        left: 16.8rem;
        top: 23.1rem;

        img {
            width: 14.2rem;
            height: 14.2rem;
        }
    }

    &__img--3 {
        bottom: 5.9rem;
        left: 33.4rem;

        img {
            width: 17.7rem;
            height: 17.7rem;
        }
    }

    &__img--4 {
        top: 5.5rem;
        right: 17rem;

        img {
            width: 26.5rem;
            height: 26.3rem;
        }
    }

    &__img--5 {
        top: 32.3rem;
        right: 31.3rem;

        img {
            width: 20rem;
            height: 20rem;
        }
    }
}

@media (max-width: 1200px) {
    .banner-v3 {
        &__img--1 {
            top: 4rem;
            left: 7.5rem;

            img {
                width: 25rem;
                height: 25rem;
            }
        }

        &__img--2 {
            left: 2.8rem;
            top: 23.1rem;

            img {
                width: 14.2rem;
                height: 14.2rem;
            }
        }

        &__img--3 {
            bottom: 5.9rem;
            left: 18.4rem;

            img {
                width: 17.7rem;
                height: 17.7rem;
            }
        }

        &__img--4 {
            top: 5.5rem;
            right: 4rem;

            img {
                width: 26.5rem;
                height: 26.3rem;
            }
        }

        &__img--5 {
            top: 32.3rem;
            right: 16rem;

            img {
                width: 20rem;
                height: 20rem;
            }
        }
    }
}

@media (max-width: 960px) {
    .banner-v3 {
        &__subtitle {
            padding-top: 4rem;
            width: 100%;
        }

        &__img {
            img {
                width: 17rem;
                height: 17rem;
            }
        }

        &__img--1 {
            top: 3rem;
            left: 15.5rem;
        }

        &__img--2 {
            left: 4.8rem;
            top: 12.1rem;
        }

        &__img--3 {
            top: 10.5rem;
            left: unset;
            right: 5rem;
            bottom: unset;
        }

        &__img--4 {
            top: 39.5rem;
            left: 7rem;
        }

        &__img--5 {
            top: 37rem;
            right: 7rem;
        }
    }
}

@media (max-width: 768px) {
    .banner-v3 {
        height: 64.2rem;

        &__img {
            img {
                width: 13rem;
                height: 13rem;
            }
        }

        &__content {
            width: 100%;
        }

        &__subtitle {
            width: 100%;
        }
    }
}

@media (max-width: 560px) {
    .banner-v3 {
        &__img {
            img {
                width: 10rem;
                height: 10rem;
            }
        }
    }
}

@media (max-width: 500px) {
    .banner-v3 {
        height: 55.2rem;

        &__subtitle {
            padding-top: 5.3rem;
        }

        &__title {
            width: 70%;
        }

        &__img {
            img {
                width: 8.8rem;
                height: 8.8rem;
            }
        }

        &__img--1 {
            top: 2.5rem;
            left: 9.8rem;
        }

        &__img--2 {
            left: 1.8rem;
            top: 7.5rem;
        }

        &__img--3 {
            top: 8.5rem;
            right: 2rem;
        }

        &__img--4 {
            top: 44rem;
            left: 4rem;
        }

        &__img--5 {
            top: 43rem;
            right: 4rem;
        }
    }
}