.block {
    padding: 8rem 0;

    &__title {
        text-align: center;
        padding-bottom: 4.5rem;
        line-height: 4rem;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 6.3rem;
    }

    &__item {
        width: 100%;
    }

    &__name {
        font-weight: 400;
        font-size: 1.9rem;
        line-height: 3.8rem;
        vertical-align: middle;
        padding-top: 0.6rem;
        padding-bottom: 0.1rem;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 2rem;
        vertical-align: middle;
    }
}

@media (max-width: 900px) {
    .block {
        &__content {
            gap: 2.3rem;
        }
    }
}

@media (max-width: 768px) {
    .block {
        padding-left: 1rem;
        &__content {
            gap: 2.3rem;
            flex-wrap: nowrap;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            -webkit-overflow-scrolling: touch;
            scroll-behavior: smooth;
            padding-left: 1rem;
        }

        &__item {
            flex: 0 0 70%;
            scroll-snap-align: start;
            scroll-snap-stop: always;
        }

        &__content::-webkit-scrollbar {
            display: none;
        }
    }
}