.contact {
    background-color: var(--color-contact);

    &__title {
        text-align: center;
        padding: 8rem 0 4.5rem 0;
        line-height: 4rem;
    }

    &__form {
        width: 100%;
    }

    &__row {
        display: flex;
        align-items: center;
        gap: 4rem;
        padding-bottom: 1rem;
    }


    &__row--submit {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 0;
    }

    &__group {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0.7rem;

        input {
            width: 100%;
            border: none;
            padding: 1rem 1rem 1rem 1.5rem;
        }

        textarea {
            border: none;
            padding: 1rem;
            resize: vertical;
            overflow-x: hidden;
        }

        label {
            font-weight: 400;
            font-size: 1.3rem;
            line-height: 2.4rem;
            vertical-align: middle;

            &:last-child {
                color: var(--color-red);
            }
        }
    }

    &__submit {
        padding: 0.4rem 5rem;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 3rem;
        letter-spacing: 8%;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        border: none;
        color: var(--color-white);
        background-color: var(--color-black);
        transition: 0.3s;
        border: 0.1rem solid var(--color-black);

        &:hover {
            cursor: pointer;
            transition: 0.3s;
            color: var(--color-blact);
            background-color: var(--color-white);
        }
    }

    &__note {
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 2.4rem;
        vertical-align: middle;
    }

    &__errCaptcha {
        color: var(--color-red);
        font-size: 1.3rem;
    }
}

@media (max-width: 768px) {
    .contact {
        &__form {
            padding: 0 1rem;
        }
    }
}

@media (max-width: 500px) {
    .contact {
        &__row {
            flex-wrap: wrap;
            gap: 0;
        }
    }
}