$font-heading: 'Lora', serif;
$font-body: 'Poppins', sans-serif;

:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-gray: gray;
    --color-light-gray: rgba(0, 0, 0, 0.6);
    --color-lightest-gray: #666666;
    --color-red: #D63A2F;
    --color-dark-red: #A42003;
    --color-dark-green: #054E4A;
    --color-yellow: rgb(252, 188, 14);
    --color-yellow-hover: rgb(225, 165, 0);
    --color-banner-bg: #6E331A;
    --color-banner-v3-bg: #F6F2EE;
    --color-banner-v3-btn-border: rgb(190, 190, 190);
    --color-banner-v3-btn-hover: #ffd3a6;
    --border-color: rgb(223, 223, 223);
    --hover-bg: rgb(104, 188, 245);
    --primary-blue: rgb(101, 101, 255);
    --color-contact: #F6F3EE;
}

textarea:focus,
input:focus {
    outline: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-heading;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
}

@import './header.scss';
@import './slideshow.scss';
@import './product.scss';
@import './scrolling.scss';
@import './banner.scss';
@import './block.scss';
@import './banner-v2.scss';
@import './banner-v2.scss';
@import './highlights.scss';
@import './banner-v3.scss';
@import './footer.scss';
@import './popup.scss';
@import './faq.scss';
@import './contact.scss';
@import './popupContact.scss';