$font-heading: 'Lora', serif;
$font-body: 'Poppins', sans-serif;

textarea:focus,
input:focus {
    outline: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-heading;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
}

@import './header.scss';
@import './slideshow.scss';
@import './product.scss';
@import './scrolling.scss';
@import './banner.scss';
@import './block.scss';
@import './banner-v2.scss';
@import './banner-v2.scss';
@import './highlights.scss';
@import './banner-v3.scss';
@import './footer.scss';
@import './popup.scss';